body{
    background-color: #E9CF85;
    font-family: 'Tangerine','cursive';
    

}
header{
    color: red;
    font-size: 75px;
    text-align: center;
}
.imgHead{
    border: black;
    border-style: solid;
    border-width: 3px;
}
ul{
    text-align: center;
    list-style: none;
    width: 70%;
    height: 100px;
    background-color: brown;
    padding-left: 450px;
   
   
}
li{
    text-align: center;
    float: left;
    padding-left: 60px;
    padding-top: 25px;
    font-size: 45px;
    
   
    
}
a{
    text-decoration: none;
    color: #E9CF85;
}
.titi{
    justify-content: center;
    color: brown;
    letter-spacing: 5px;
    font-size: 70px;
}
table{
    border-spacing: 15px;
    justify-content: center;
    background-color: brown;
    border-style: solid;
    border-color: black;
    border-width: 3px;
    font-size: 40px;
    color: white;
    text-align: center;
    
}

.img1{
    width: 250px;
    height: 250px;
    border-style: solid;
    border-color: black;
    border-width: 3px;
}
