body{
    background-color: 
    grey;
}
h1{
    text-align: center;
    
}
.caja1{
    background-color: orange;
    margin-left: 20%;
    margin-right: 20%;
    border-color:black ;
    border-width:1px;
    border-style: solid;
    text-align: center;
    height: 70px;
}
.caja2{
    margin-top: 20px;
    text-align: center;
    position: absolute;
    background-color: #F7FE2E;
    margin-left: 100px;
    width: 500px;
    height: 200px;
    border-style: solid;
    border-color: #F3F781;
    z-index: 1;
}
.caja2:hover{
    z-index: 101;
}
.caja3{
    margin-left: 820px;
    position: relative;
    text-align: right;
    margin-top: 20px;
    background-color:#01A9DB ;
   
    width: 500px;
    height: 200px;
    border-style: solid;
    border-color:#A9F5F2 ;
    z-index: 2;
}
.caja3:hover{
    z-index: 102;
}
.caja4{
    margin: 20px;
    margin-left: 100px;
    width: 500px;
    height: 200px;
    position: absolute;
    z-index: 3;
    border-style: solid;
    background-color: #F5ECCE;
    border-color: #BDBDBD;
}
.caja4:hover{
    z-index: 104;
}
.caja5{
    margin-left: 820px;
    position: relative;
    text-align: right;
    margin-top: 20px;
    background-color:#FA58F4 ;
   
    width: 500px;
    height: 200px;
    border-style: solid;
    border-color: #2E2E2E;
    z-index: 4;
}
.caja5:hover{
    z-index: 105;
}
.caja6{
    width: 500px;
    position: relative;
    height: 200px;
     text-align: center;
    z-index: 100;
    background-color: #04B431;
    border-style: solid;
    border-color: #FF8000;
    
    margin-left: 450px;
    bottom: 300px;
    
}