titulo{
    display: flex;
    font-size: 25px;
    margin-left: 40%;
    margin-top: 3%;
    font-weight: 500;
    text-decoration: underline;
}
geografia{
    background-color: pink;
}
continente[nombre] {
    display: inline-block;
    background-color: palevioletred;
    border: solid 3px red;
    border-radius: 15px;
    width: 300px;
    height: 200px;
    margin-top: 10px;
}
continente[nombre =  América]{
    margin-left:30px ;
}
continente[nombre = Europa]{
    margin-left: 370px;
}
continente >pais{
    display: flex;
    width: 80%;
    background-color: antiquewhite;
    justify-content: center;
    margin-top: 25px;
    margin-left: 25px;
    border:  dashed 0.5px red;
    border-radius: 5px;
    padding: 05px;
    font-size: 15px;
}
paises{
    display: none;
}
rio{
    display: block;
    background-color: antiquewhite;
    border:  dashed 0.5px red;
    margin-top: 20px;
    border-radius: 5px;
    margin-left: 30px;
    margin-right: 30px;

}

rio>nombre{
    display: flex;
    margin: 5px;
background-color: antiquewhite;


 
}
rio>pais{
    display: flex;
    background-color: antiquewhite;
    border:  dashed 0.5px red;
    border-radius: 5px;
    font-size: 15px;
    margin-left: 10px;
    margin-bottom: 10px;
    width: 200px;
    padding: 5px;

}




